
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0px;
  padding: 0px;
}


body {
  font-family: 'Poppins', sans-serif;
}
.menu-bar {
  height: 90px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  position: static;
  /* box-shadow: 5px 4px 1px -1px rgb(205, 26, 98); */

  box-shadow: rgba(248, 85, 180, 0.2) 0px 7px 29px 0px;
}
.main {
  margin-top: 20px;
  margin-right: 60px;
}
.dropdown {
  position: relative;
}
.menu-bar .main {
  display: flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}
.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-bar ul li a:hover {
  color: #d9235c;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.menu-bar ul li:hover .dropdown-content {
  display: block;
  position: absolute;
  width: 130px;
}
.menu-bar ul li:hover .dropdown-content ul li {
  height: 50px;
  width: 100px;
}
.dropdown-content a {
  color: #D70F64;
  padding: 4px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover .dropdown-content {
  display: block;
}
.wat {
  color: #d9235c;
  font-weight: bolder;
  text-shadow: aliceblue;
  font-size: 40px;
}
span {
  color: black;
  font-size: 25px;
  margin-left: 20px;
  
}
.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #D70F64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 90%;
}
.my-profile-img{
  height: 30px;
  width:30px;
  border-radius: 50%
}



input[type="radio"] {


  /* ...existing styles */
  display: grid;
  place-content: center;
  margin-left: 20px;

}

input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 20px;
}

.types{
  text-align: center;
  color: #D70F64;
}

.Makeup{
  height: 130px;
  width:150px;
 margin-left: 20px;
 margin-top:30px ;
}
.action{
display: flex;
/* justify-content: space-evenly; */
height: 200px;
width:50%;
border-radius: 10px;
margin-top:50px;
margin-left: 130px;
box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);

}
.nude,.HD,.dewy,.airbrush{
  width:100%;
  margin-top: 5px;
}
.event{
  height:92%;
  width:45%;
  /* border:2px solid black; */
margin-top: 70px;
}
.events_options{
  height: 70%;
  width:80%;
  /* border:2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 70px;
  margin-top: 70px;
}
.user_choice{
  /* border:2px solid black; */
  height: 50px;
  width: 45%;
  margin-top: 25px;
  display: flex;
  padding-top: 30px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
}
.input[type=radio] {
  border: 0px;

  height: 20px;
}
.preferences{
  height:1100px;
  margin-top: 100px;
  /* border:2px solid black; */
  width: 100%;


}
.booking_details{
  /* border:2px solid black; */
width: 40%;
height: 85%;
box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
margin-left: 140px;
}
.info{
height:95%;
margin-top: 2.5%;
width:95%;
/* border:2px solid black; */
margin-left: 5%;
display: flex;
}
.choice{
  height: 100%;
  width: 60%;
  /* border:2px solid black; */

}

.increment_decrement{
  height: auto;
  /* border:2px solid black; */
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
border-radius: 10px;
  width: 93%;


}

.name_num,.date_time{
height:60px;
width:98%;
display: flex;
/* border:2px solid black; */
justify-content: space-around;
margin-top: 50px;
margin-left: 5px;
}
form{
  height:80%;
  width:100%;
    /* border:2px solid black; */
margin-top: 70px;
}

.inputs input{
  border-width: 0px 0px 0.5px 0px;
width: 200px;
text-align: center;
height: 40px;
}

.cus_address,.door_num{
  width: 95%;
  height: 60px;
  /* border:2px solid black; */
  margin-top: 50px;
  margin-left: 22px;
}

.fa-solid{
  font-size: 18px;
  margin-top: 15px;
  color:#D70F64;
  margin-left: 20px;
}
.door_num input{
  width: 460px;
}
.cus_address input{
  width: 460px;
}
.selected_option{
  /* border:2px solid black; */
  margin-top: 60px;
}
.selected_option input{
  width: 460px;
  margin-top: 20px;
  margin-left: 50px;
}
#rupee{
  margin-left: 40px;
}
h4{
  text-align: center;

}
.selected_option label{
  margin-left: 15px;
}
button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color:white;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: #e6397e;
  box-shadow: 0px 15px 20px rgba(218, 66, 107, 0.4);
  outline: none;
  margin-left: 200px;
  margin-top: 60px;
  }

button:hover {

  color: #fff;
  transform: translateY(-7px);
}
.increment_decrement h3{
padding-top: 30px;
  text-align: center;
  color:#D70F64
}
.count{
  height: 90%;
  width:95%;
  /* border: 2px solid black; */
  margin-left: 15px;
}
.totla{
  height: 100px;
  /* border: 2px solid black; */
  width: 98%;
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
}
.totla{
  height: 100px;
  /* border: 2px solid black; */
  width: 98%;
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
}
.count1{
  height: 100px;
  /* border: 2px solid black; */
  width: 98%;
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
}
.title{
  width:44%;
  /* border: 2px solid black; */
  height: 100%;
}
.Plusminus{
  width:22%;
  border: 1px gray solid;
  height: 50%;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.respective_cost{
  width:25%;
  /* border: 2px solid black; */
  height: 100%;
  display: flex;
}
.quantity{
padding-top: 12px;
margin-left: 5px;
}
.plus{
  padding-top: 15px;
}
.Plusminus{
  padding-top: 15px;
}
#sign{
  margin-top: 30px;
  margin-left: 70px;
}
#res_cost{
  margin-top:29px ;
  margin-left: 10px;
 
}
.method{
  text-align: center;
  margin-top: 30px;
}
.cost{
  position: relative;
  top:28px;
  left:15px
}
#popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}

.popup-open body {
  filter: blur(3px);
}
/* Date and time input container */
.date-time-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Date input container */
.date-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

/* Time input container */
.time-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

/* Label styling */
.date-container label, .time-container label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: #555;
}

/* Input styling */
.date-container input[type="date"], .time-container input[type="time"] {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #555;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Input focus styling */
.date-container input[type="date"]:focus, .time-container input[type="time"]:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.cart_adding{
  background-color: white;
  /* border: 2px solid black; */
 margin-top: 50px;
height: 1500px;
justify-content: space-around;
display: flex;
}
.choose_cutomer{
  height:350px;
  width:90%;
  /* border: 2px solid black; */
 margin-left: 25px;
 margin-top: 50px;
}

.addedlist{
  height:90%;
  width:47%;
  /* border:2px solid black; */
  margin-top: 3%;
  
}
.savinglist{
  height:90%;
  width:42%;
  /* border:2px solid black; */
  margin-top: 3%;

}
.head{
  height:80px;
  width:100%;
  /* border:2px solid black; */

}
.listing{
  height: 80%;
  width:100%;
  /* border:2px solid black; */

display:flex;

flex-direction: column;

}
.list_1{
  height:120px;
  width:90%;
 margin-left: 30px;
  /* border:2px solid black; */
 display:flex;
 margin-top: 50px;
 box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);

}
.pic_book_list{
  height:100%;
  width:200px;
  /* border:2px solid black; */

}
.details_cost{
  height:100%;
  width:80%;
  /* border:2px solid black; */
}
.selected_list_img{
  height: 80%;
  width:80%;

 margin-left: 15px;
 margin-top: 15px;
 border-radius: 10px;
}
.details_cost h3{

  color:#D70F64;
  margin-left: 100px;
  margin-top: 20px;


}
.details_cost p{
  margin-left: 100px;
  margin-top: 20px;

}
.totalbooking{
  height:90%;
 width:90%;
 margin-left: 15%;
 /* border:2px solid black; */
 margin-top: 50px;
   box-shadow: 0 0 3px rgba(0,0,0,.161);

 overflow-y: scroll;
}
.customer_1,.customer_2,.customer_3,.customer_4,.customer_5,.customer_6{
  height: auto;
  width:100%;
  /* border:2px solid black; */
   margin-top: 100px;
}
.customer_1,.customer_2,.customer_3,.customer_4,.customer_5,.customer_6 h3{
  text-align: center;
  
}
.names_total_cost{
  height: 65%;
  width:100%;
  /* border:2px solid black; */
 margin-top: 30px;

}
.one{
  margin-top:10px;
  height:20%;
  width:100%;
  /* border:2px solid black; */
  /* box-shadow: 0 0 3px rgba(0,0,0,.161); */

 display: flex; 
 justify-content: space-around;
}
.single_cust_total_cost{
  text-align: center;
  margin-top: 7px;
  color:#D70F64
}