@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: white;
}

.menu-bar {
  height: 90px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  box-shadow: rgba(248, 85, 180, 0.2) 0px 7px 29px 0px;
  z-index: 10;
}

.main {
  margin-top: 20px;
  margin-right: 60px;
}
.dropdown {
  position: relative;
}
.menu-bar .main {
  display: flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}
.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-bar ul li a:hover {
  color: #d9235c;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.menu-bar ul li:hover .dropdown-content {
  display: block;
  position: absolute;
  width: 130px;
}
.menu-bar ul li:hover .dropdown-content ul li {
  height: 50px;
  width: 100px;
}
.dropdown-content a {
  color: #d70f64;
  padding: 4px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover .dropdown-content {
  display: block;
}
.wat {
  color: #d9235c;
  font-weight: bolder;
  text-shadow: aliceblue;
  font-size: 40px;
}
span {
  color: white;
  font-size: 40px;
}
.menu-bar ul li::after {
  content: "";
  display: block;
  background-color: #d70f64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 90%;
}
.package {
  height: 760px;
  width: 100%;
  /* border:2px solid black; */
  position: relative;
  top: 90px;
  display: flex;
}

.slect_cato {
  height: 95%;
  width: 95%;
  /* border:2px solid black; */
  display: flex;
}
.bridal {
  height: 100%;
  width: 25%;
  /* border:2px solid black; */
  background-color: #f5f6f7;
  position: fixed;
}
.option_package {
  height: 100%;
  width: 75%;
  margin-left: 400px;
  /* border:2px solid black; */
}

#submit {
  height: 40px;
  width: 150px;
  margin-left: 220px;
  border: #d70f64 1px solid;
  color: #d70f64;
  background-color: white;
}

/* ---------------------------------------------------------------------------- */
.container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  justify-content: space-evenly;
  margin-top: 20px;
}

div label input {
  margin-right: 100px;
}

.cat {
  margin: 4px;
  background: linear-gradient(90deg, #d70f64 0%, #5a028d 100%);

  border-radius: 4px;

  /* border: 1px solid #fff; */
  overflow: hidden;
  float: left;
  height: 80px;
  width: 200px;
  margin-left: 10px;
}

.cat label {
  float: left;
  line-height: 3em;
  width: 8em;
  height: 3em;
}

.cat label span {
  text-align: center;
  padding: 3px 3px 3px 3px;
  display: block;
  font-size: 18px;
  height: 80px;
  width: 200px;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.cat label input + span {
  color: #fff;
}

/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.action input:checked + span {
  background-color: #ed8fa8;
}
.comedy input:checked + span {
  background-color: #ed8fa8;
}
.crime input:checked + span {
  background-color: #ed8fa8;
}
.history input:checked + span {
  background-color: #ed8fa8;
}
.reality input:checked + span {
  background-color: #ed8fa8;
}
.news input:checked + span {
  background-color: #ed8fa8;
}
.scifi input:checked + span {
  background-color: #ed8fa8;
}
.sports input:checked + span {
  background-color: #ed8fa8;
}

.method {
  height: 40px;
  width: 220px;
}

.Variant_div1 {
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  display: block;
  color: black;
}

.Variant_div2 {
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  display: none;
}

.Variant_div3 {
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  display: none;
}
.Variant_div4 {
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  display: none;
}
.Variant_div5 {
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  display: none;
}
.Variant_div6 {
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  display: none;
}
.Variant_div7 {
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  display: none;
}

.options_methods1,
.options_methods,
.options_methods2 {
  height: 40%;
  width: 100%;
  /* border: 2px solid black; */
  padding: 20px;

  background-color: white;
}

.showing_details2 {
  /* border: 2px solid black; */
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.HEAVY,
.LIGHT,
.MEDIUM {
  height: 70%;

  width: 27%;
  margin-top: 70px;
  border-radius: 10px;
  border-left: 5px solid #fbafd0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.packing_more_2 {
  /* border: 2px solid black; */
  height: 800px;
  width: 100%;
}
.packing_more22 {
  /* border: 2px solid black; */
  height: 800px;
  width: 100%;
}
.input_box {
  height: 35px;
  width: 260px;
  margin-left: 10px;
  border-width: 0px 0px 1.5px 0px;
}
.sampleimg {
  height: 60%;
  width: 70%;
  margin-left: 35px;
}
.button_for_sumbit {
  height: 32px;
  width: 120px;
  color: #d70f64;
  background-color: white;
  border: 1px solid #d70f64;
  margin-left: 440px;
  border-radius: 10px;

  margin-top: 10px;
}
.button_for_sumbit:hover {
  background-color: #d70f64;
  color: white;
}
#update {
  height: 25px;
  width: 80px;
  color: #d70f64;
  background-color: white;
  border: 1px solid #d70f64;
  margin-left: 20px;
  border-radius: 10px;
}
.one,
.two,
.three {
  height: 21%;
  width: 100%;
}
