@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #f5f6f7;
  font-family: "Poppins", sans-serif;
}

.menu-bar {
  height: 90px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0;
  background-color: white;
  position: fixed;
  z-index: 10;
  box-shadow: rgba(248, 85, 180, 0.2) 0px 7px 29px 0px;

  /* box-shadow: 0px 10px 30px 0px rgb(205, 26, 98); */
}
.main {
  margin-top: 20px;
  margin-right: 60px;
}

.dropdown {
  position: relative;
}

.menu-bar .main {
  display: flex;
  list-style: none;
}

.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}

.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-bar ul li a:hover {
  color: #d9235c;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: #d70f64;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu-bar ul li:hover .dropdown-content {
  display: block;
  position: absolute;
  height: 120px;
  width: 140px;
}

.menu-bar ul li:hover .dropdown-content ul li {
  height: 50px;
  width: 100px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown a:hover .dropdown-content {
  display: block;
}

.menu-bar ul li::after {
  content: "";
  display: block;
  background-color: #d70f64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}

.menu-bar ul li:hover::after {
  width: 100%;
}

.profile-content {
  height: 500px;
  width: 94%;
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 20px; */
  padding-top: 100px;
}

.content-1-profile {
  height: 500px;
  width: 37%;
}

.content-2-profile {
  height: 360px;
  width: 48%;
  /* border: 2px solid black; */
  padding: 15px;
  box-shadow: rgba(13, 9, 11, 0.2) 0px 7px 29px 0px;
  background-color: white;
  margin-top: 30px;
}

.profile {
  height: 420px;
  width: 70%;
  margin-left: 150px;
  margin-top: 20px;
}

.map {
  height: 18px;
  width: 18px;
}
.head_poast {
  text-align: center;
  color: #d70f64;
}
.line {
  display: flex;
  height: 50px;
  width: 80%;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}

h1 {
  color: rgb(74, 73, 73);

  font-size: 28px;
}

.contact {
  display: flex;
  margin-top: 20px;
}

.review {
  margin-top: 30px;
  border-radius: 5px;
}

.starting-price {
  height: 60px;
  width: 80%;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}

.message {
  margin-top: 20px;
  height: 60px;
  width: 600px;
  display: flex;
  justify-content: space-between;

  border-radius: 5px;
}
.contact p:nth-last-child(1) {
  margin-left: 15px;
}
/* button {
  width: 170px;
  height: 40px;
  margin-top: 10px;
  border-radius: 20px;
  border-color: #f10b6b;
  color: #d70f64;
}

button:hover {
  background-color: #f7056a;
  color: white;
} */

button #icoen:hover {
  color: #d70f64;
}

#icoen {
  color: #d70f64;
}
.vaccinated {
  margin-top: 30px;
  font-size: 20px;
}

hr {
  margin-top: 10px;
}

.str_prc {
  font-weight: bolder;
}

#icoen {
  margin-left: 10px;
  color: #d70f64;
  font-size: 20px;
  margin-top: 2px;
}

.photo {
  height: auto;
  /* border:2px solid black; */
  width: 80%;
  margin-left: 150px;
  background-color: white;
}

.heading {
  display: flex;
  justify-content: space-around;
}

.album {
  color: #d70f64;
  margin-top: px;
}

.vedio {
  height: 320px;
  width: 320px;
}

a {
  text-decoration: none;
}
/* .details-artist{
  font-weight: 400;
} */
.pic-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  margin-top: 50px;
}
.box {
  height: 1000px;
  width: 1350px;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  justify-content: space-evenly;
  overflow-y: scroll;
}

#envelope {
  background-color: white;
}

#envelope:hover {
  background-color: #d70f64;
  color: white;
}

#phone-icon {
  background-color: white;
}

#phone-icon:hover {
  background-color: #d70f64;
  color: white;
}

.aligning {
  margin-top: 10px;
}

.center h2 {
  margin-top: 15px;
}

.pic-one {
  width: 27%;
  height: 340px;
  margin-top: 30px;
  transition: 1s;
  box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset,
    rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}

.pic-one:hover {
  box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset,
    rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  transform: translateY(10px);
}

.pic-one img {
  width: 100%;
  height: 320px;
}

.footer {
  height: 450px;
  width: 100%;
  background-color: black;
  display: flex;
  background-image: linear-gradient(rgba(6, 5, 5, 0.7), rgba(46, 47, 52, 0.7)),
    url("foot,jpg");
  background-size: cover;
  margin-top: 50px;
}

.one:nth-child(1) {
  height: 400px;
  width: 25%;
  color: white;
}

.one:nth-child(2) {
  height: 400px;
  width: 22%;
  color: white;
}

.one:nth-child(3) {
  height: 400px;
  width: 22%;
  color: white;
}

.one:nth-child(4) {
  height: 400px;
  width: 22%;
  color: white;
}

.align {
  width: 90%;
  height: 350px;
  margin-top: 50px;
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
}

.icco {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 70px;
  height: 100px;
}

.b {
  margin-top: 50px;
}

.ba {
  margin-top: 30px;
}

#insta {
  font-size: 30px;
}

#face {
  font-size: 30px;
}

#twit {
  font-size: 30px;
}

#git {
  font-size: 30px;
}

.boto {
  margin-top: 60px;
}

.boto a {
  color: white;
  text-decoration: none;
}

.one:nth-child(4) h3 {
  margin-top: 50px;
}

.one:nth-child(4) img {
  height: 60px;
  width: 240px;
  border-radius: 9px;
  margin-top: 50px;
}

.one:nth-child(3) p {
  margin-top: 40px;
  margin-left: 20px;
}

.one:nth-child(3) a {
  text-decoration: none;
  color: white;
}

.center {
  height: 180px;
  width: 80%;
  margin-left: 160px;
}

.starting-price a {
  color: #d70f64;
}

.starting-price a:hover {
  color: white;
}
.my-profile-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
/* ------------------------ */

.revwie {
  height: auto;
  width: 80%;
  margin: 10%;
  margin-top: 50px;
  /* border: 2px solid black; */
  background-color: white;
  border-radius: 10px;
}
#sumbit_btn {
  height: 30px;
  width: 160px;
}

.heading {
  height: 60px;
  width: 100%;
  border: 2px solid black;
}

form {
  margin-top: 10px;
  /* border: 2px solid black; */
}
#vendors_review {
  text-align: center;
  height: 300px;
  width: 53%;
  margin-left: 25%;
  margin-top: 2%;
}
/* #experience {
  text-align: center;
  height: 300px;
  width: 53%;
  margin-left: 25%;
  margin-top: 2%;
  display: none;
} */
.review_box {
  /* border: 2px solid black; */
  height: 800px;
  width: 100%;
}
.review_box p {
  text-align: center;
  color: #d70f64;
  font-size: 20px;
  text-transform: uppercase;
}

.review_box h2 {
  padding-top: 50px;
  text-align: center;
  color: #d70f64;
  font-size: 24px;
  /* border: 2px solid black; */
  text-transform: uppercase;
}
#rev {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  margin-left: 20px;
  color: #d70f64;
  font-size: 18px;
}

.about {
  width: 1200px;
  margin-left: 10%;
  /* border: 2px solid black; */
  height: 200px;
}
.about p {
  color: black;
  line-height: 150%;
}
.box {
  /* border: 2px solid black; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

#btn {
  height: 50px;
  border-radius: 24px;
  margin-left: 43%;
  margin-top: 50px;
  box-shadow: 0 6px 20px -7px #ff0077;
  color: white;
  background-color: #d70f64;
}
.check {
  margin-left: 40%;
}
.reviewocmment {
  height: 230px;
  width: 100%;
  border: 1px solid #9e9d9d;
}
.holeboxreview {
  height: 70px;
  width: 1000px;
  /* border:2px solid black; */
  display: flex;
  margin-top: 20px;
}
.userprofile img {
  height: 60px;
  margin: 5px;
}
.userprofile {
  height: 70px;
  width: 80px;
  /* border:2px solid black; */
}
.name_month {
  height: 70px;
  width: 920px;
  /* border:2px solid black; */
}
.name {
  display: flex;
  /* border:2px solid black; */
  height: 35px;
  width: 300px;
}
.reference {
  /* border:2px solid black; */
  width: auto;
  margin: 4px;
}
.ratings {
  /* border:2px solid black; */
  width: 60px;
  background-color: #d70f64;
  border-radius: 5px;
  height: 26px;
}
#star {
  color: white;
  margin: 4px;
}
span {
  color: white;
  margin: 4px;
}
.month {
  margin: 15px;
}
.quality {
  height: 40px;
  width: 120px;
  margin-left: 15px;
}

.boxer {
  height: auto;
}
.pacage{
  height: auto;
  width: 100%;
  /* border: 2px solid black; */
 
}
.details{
  height:70%;
  /* border: 2px solid black; */
  width:100%;
  display: flex;
 justify-content: space-evenly;
  margin-top: 50px;
}
.options{
  height:450px;
  /* border: 2px solid black; */
  width:90%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 85px;

}
.one_option{
  width:22%;
  /* border: 2px solid black; */
  border-radius: 5px;
  border-radius: 10px;
  background-color: white;
  height: 430px;
}
.optiontwo{
  width:22%;
  /* border: 2px solid black; */
  border-radius: 5px;
  border-radius: 10px;
  height: 430px;
  background-color: white;
}
.package_image{
  height:100%;
width: 90%;
margin-top: 10px;
margin-left: 10px;
border-radius: 10px;
}
.pic{
  height: 70%;
  /* border: 2px solid black; */
  width:100%
}
.descriptipn{
width: 100%;
height: 200px;
/* border: 2px solid black; */

text-align: center;
margin-top: 10px;
}
.price{
 height: 30%;
  width:20%;
  /* border: 2px solid black; */

}
.header{
height: 10%;
/* border: 2px solid black; */
}
button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color:white;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: #e6397e;
  box-shadow: 0px 15px 20px rgba(218, 66, 107, 0.4);
  outline: none;
  }

button:hover {

  color: #fff;
  transform: translateY(-7px);
}
.buttontopbtn{
  height: 40px;
  width:160px;
  margin-top:20px
  
}
.totalbtn{
  height: 45px;
  width:230px;
  margin-top:60px;
margin-left: 600px;
}
.picetotal{
margin-left: 50px;
padding-top: 70px;
}
.added_price{
  margin-left: 50px;
  padding-top: 20px;
}
.package_plans{
  text-align: center;
  margin-top: 30px;
  color:#d70f64
}
.name_makeup{
  margin-top: 20px;
  margin-bottom: 10px;
  color:blueviolet;
  font-weight: bolder;
}