* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: #F2F4F1;
  font-family: 'Poppins', sans-serif;

}

.menu-bar {
  height: 100px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0;
  background-color: white;
  position: fixed;
  /* box-shadow: 0px 10px 30px 0px rgb(205, 26, 98); */
}

.main {
  margin-top: 20px;
  margin-right: 60px;
}

.dropdown {
  position: relative;
}

.menu-bar .main {
  display: flex;
  list-style: none;
}

.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}

.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-bar ul li a:hover {
  color: #d9235c;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: #D70F64;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu-bar ul li:hover .dropdown-content {
  display: block;
  position: absolute;
  height: 120px;
  width: 140px;
}

.menu-bar ul li:hover .dropdown-content ul li {
  height: 50px;
  width: 100px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown a:hover .dropdown-content {
  display: block;

}

.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #D70F64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}

.menu-bar ul li:hover::after {
  width: 100%;
}

.profile-content {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* margin-left: 20px; */
  padding-top: 100px;
}

.content-1-profile {
  height: 500px;
  width: 40%;
}

.content-2-profile {
  height: 500px;
  width: 50%;
}

.profile {
  height: 420px;
  width: 70%;
  margin-left: 150px;
  margin-top: 20px;
}

.map {
  height: 18px;
  width: 18px;
}

.line {
  display: flex;
  height: 40px;
  width: 60%;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}

h1 {
  color: rgb(101, 98, 98);
  text-align: center;
}

.contact {
  display: flex;
  margin-top: 20px;
}

.review {
  margin-top: 30px;
  border-radius: 5px;
}

.starting-price {
  height: 60px;
  width: 80%;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}

.message {
  margin-top: 20px;
  height: 60px;
  width: 600px;
  display: flex;
  justify-content: space-between;

  border-radius: 5px;
}

button {
  width: 170px;
  height: 40px;
  margin-top: 10px;
  border-radius: 20px;
  border-color: #f10b6b;
  color: #D70F64;
}

button:hover {
  background-color: #f7056a;
  color: white;
}

button #icoen:hover {
  color: #D70F64;
}

.vaccinated {
  margin-top: 30px;
  font-size: 20px;
}

hr {
  margin-top: 10px;
}

#icoen {
  margin-right: 10px;
  color: #D70F64;
  font-size: 20px;

}

.photo {
  height: 1600px;
  width: 80%;
  margin-left: 150px;
  background-color: white;
}

.heading {
  display: flex;
  justify-content: space-around;
}

.album {
  color: #D70F64;
  margin-top: px;
}

.vedio {
  height: 320px;
  width: 320px;
}

a {
  text-decoration: none;
}

.pic-content {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#envelope {
  background-color: white;

}

#envelope:hover {
  background-color: #D70F64;
  color: white;
}

#phone-icon {
  background-color: white;
}

#phone-icon:hover {
  background-color: #D70F64;
  color: white;
}

.aligning {
  margin-top: 10px;
}

.center h2 {
  margin-top: 15px;
}

.pic-one {
  width: 27%;
  height: 320px;
  transition: 1s;
  box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}

.pic-one:hover {
  box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  transform: translateY(10px);
}

.pic-one img {
  width: 100%;
  height: 320px;
}

.footer {
  height: 450px;
  width: 100%;
  background-color: black;
  display: flex;
  background-image: linear-gradient(rgba(6, 5, 5, 0.7), rgba(46, 47, 52, 0.7)), url("foot,jpg");
  background-size: cover;
  margin-top: 50px;
}

.one:nth-child(1) {
  height: 400px;
  width: 25%;
  color: white
}

.one:nth-child(2) {
  height: 400px;
  width: 22%;
  color: white;
}

.one:nth-child(3) {
  height: 400px;
  width: 22%;
  color: white;
}

.one:nth-child(4) {
  height: 400px;
  width: 22%;
  color: white;
}

.align {
  width: 90%;
  height: 350px;
  margin-top: 50px;
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
}

.icco {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 70px;
  height: 100px;
}

.b {
  margin-top: 50px;
}

.ba {
  margin-top: 30px;
}

#insta {
  font-size: 30px;
}

#face {
  font-size: 30px;
}

#twit {
  font-size: 30px;
}

#git {
  font-size: 30px;
}

.boto {
  margin-top: 60px;
}

.boto a {
  color: white;
  text-decoration: none;
}

.one:nth-child(4) h3 {
  margin-top: 50px;
}

.one:nth-child(4) img {
  height: 60px;
  width: 240px;
  border-radius: 9px;
  margin-top: 50px;
}

.one:nth-child(3) p {
  margin-top: 40px;
  margin-left: 20px;
}

.one:nth-child(3) a {
  text-decoration: none;
  color: white;
}

.center {
  height: 250px;
  width: 80%;
  margin-left: 160px;
}

.starting-price a {
  color: #D70F64;

}

.starting-price a:hover {
  color: white;
}
.my-profile-img{
  height: 30px;
  width:30px;
  border-radius: 50%;
 
}