* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
.menu-bar {
  height: 100px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  position: static;
  box-shadow: 10px 10px 30px 1px rgb(205, 26, 98);
}
.main {
  margin-top: 20px;
  margin-right: 60px;
}
.dropdown {
  position: relative;
}
.menu-bar .main {
  display: flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}
.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-bar ul li a:hover {
  color: #d9235c;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.menu-bar ul li:hover .dropdown-content {
  display: block;
  position: absolute;
  width: 130px;
}
.menu-bar ul li:hover .dropdown-content ul li {
  height: 50px;
  width: 100px;
}
.dropdown-content a {
  color: #D70F64;
  padding: 4px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover .dropdown-content {
  display: block;
}
.wat {
  color: #d9235c;
  font-weight: bolder;
  text-shadow: aliceblue;
  font-size: 40px;
}
span {
  color: white;
  font-size: 40px;
}
.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #D70F64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 90%;
}
.main-content {
  height: 771px;
  width: 90%;
  position: relative;
  top: 5px;
  left: 70px;
  background-color: white;
  display: flex;
}
.cont-1{
 
  height:600px;
  width:50%;
 margin-top: 70px;
  background-image: url("../../assets/images/3189767.jpg");
  background-size: cover;
  background-position: center;
}
.confirm{
  margin-top: -20px;
}
.cont-2 {
  height: 600px;
  width: 50%;
  margin-top: 70px;
  background-color: #d9235c;
  color: white;
}
form {
  height: 500px;
  width: 70%;
  margin-top: 50px;
  margin-left: 100px;

}
label {
  margin-left: 20px;
}
#checkbox {
  margin-left: 22px;
}
button {
  margin-left: 20px;
  height: 35px;
  width: 150px;
  border-radius: 8px;
  border-color: #D70F64;
  color: #D70F64;
}
button:hover {
  color: white;
  background-color: #D70F64;
}
h1 {
  color: #D70F64;
  margin-top: 100px;
  text-align: center;
}
p {
  color: black;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}
a {
  color: #D70F64;
  text-decoration: none;
}
a:hover {
  color: white;
}
