
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.contant{
    height:400px;
    width:700px;
    border:2px solid black;
margin-top: 250px;
margin-left: 400px;
border-radius: 20px;
}
h1,h2{
    color: rgb(228, 13, 114);
    text-align: center;
   
}
.gif{
    margin-left: 230px;
}
h2{
    margin-top: 30px;
}