@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  background:white;
  font-family: "Poppins", sans-serif;
}


.content{
  height:870px;
  width:100%;
  /* border:2px solid black; */
  display: flex;
  justify-content: space-around;
}
.payment_method{
  width:50%;
  margin-top: 50px;
  padding: 30px 30px 30px 30px;
   height:83%;

}
.booking_list{
  border-radius: 20px;
 background-color: #f4f4f4;
  width:30%;
  /* border:2px solid black; */
height:83%;
overflow-y: scroll;
   margin-top: 50px;
   padding: 30px 30px 30px 30px;
}
.options{
  display:flex;
  width:50%;
  margin-left: 20px;
  justify-content: space-between;
  height:80px;
  /* border:2px solid black; */
  margin-top: 50px;

 
}
.images{
  height:100px;
  width:38%;
  justify-content: space-between;
  display: flex;
 margin-left: 20px;
}
.Image_payement{
  height:50px;
  width: 80px;
}
.cvv{
  display: flex;
  width:90%;
  height: 120px;
  /* border:2px solid black; */
  margin-top: 50px;
  margin-left: 20px;
}
.expiry,.cvv_number{
  width: 50%;
  /* border:2px solid black; */

}
.cvv label{
  color:rgb(113, 110, 110);


}
input{
  border-width: 0px 0px 1.1px 0px;
  width:190px;
  margin-top: 20px;
  height:40px;
 
}
.pay_btn{
  height:40px;
  width:130px;
  margin-top: 50px;
  margin-left: 20px;
  border-radius: 5px;
  background-color:#D70F64;
  color:white;
  font-family: "Poppins", sans-serif;
  border: none;
}
.heading_options{
  font-weight: bolder;
  margin-bottom: 50px;
  margin-left: 20px;
}
.credit_card{
  margin-left: 20px;
}
.savinglist h1{

  text-align: center;
  color:#D70F64;

}
.customer_Customer{
  color:#D70F64;

   margin-top: 20px;
}
.one p{
  color:#15030a;
  margin-top: 20px;
}
.single_cust_total_cost
{
  color:#D70F64;
  margin-top: 20px;
}
.horizontal_line{
  margin-top: 20px;
}
.over_all_total_amount{
  margin-top: 20px;
}