@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
}
.hole-content {
  position: absolute;
  /* height: 4585px; */
  height: auto; 
  border: 2px solid black;
}
.menu-bar {
  height: 100px;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
position: fixed;
  display: flex;
  
  align-content: center;
  justify-content: space-between;
  background-color: white;
  /* box-shadow: 10px 10px 30px 1px rgb(205, 26, 98); */
}
.main {
  margin-top: 20px;
  margin-right: 60px;
}
.menu-bar .main {
  display: flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}
.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #D70F64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 100%;
}
.wat {
  color: #d9235c;
  font-weight: bolder;
  text-shadow: aliceblue;
  font-size: 40px;
}
span {
  color: white;
  font-size: 40px;
}
.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #D70F64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 100%;
}
.my-profile-img{
  height: 30px;
  width:30px;
  border-radius: 50%;
 
}

.loaction {
  height: 185px;
  width: 100%;
  /* 
   */
   padding-top: 100px;
  background-color: black;
}
select {
  color: black;
  margin-top: 40px;
  border: black 2px solid;
  
  height: 40px;
  width: 150px;
}
.select:hover {
  color: white;
  background-color: #d9235c;
}
.result {
  height: 40px;
  width: 150px;
  margin-left: 650px;
  margin-top: 35px;
  color: #d9235c;
  font-weight: bold;
}
.result:hover {
  color: white;
  background-color: #d9235c;
}
#city {
  color: #d9235c;
  background-color: white;
}
#state {
  color: #d9235c;
}
#local {
  color: #d9235c;
}
#price {
  color: #d9235c;
}
#HEAD {
  color: white;
  margin-left: 30px;
  font-size: 16px;
  font-weight: bolder;
}
label {
  margin-left: 15px;
}
#content-2 {
  height: 5000px;
  width: 100%;
  background-color: #F2F4F1;
  /* margin-left: 10px; */
}
.main-content {
  height: 4300px;
  width: 85%;
  margin-left: 100px;
  margin-top: 30px;
}
.head {
  height: 80px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
}
#search {
  margin-left: 100px;
  height: 50px;
  width: 390px;
  margin-top: 15px;
  text-align: center;
}
p {
  color: #d9235c;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
.grid {
  color: #d9235c;
  margin-left: 15px;
  margin-top: 25px;
}
#glass {
  position: absolute;
  left: 530px;
  top: 30px;
  color: #a2a2a1;
  font-size: 20px;
}
#grid {
  height: 25px;
  width: 25px;
  margin-top: 25px;
  margin-left: 170px;
}
.box {
  width: 100%;
  height: 4750px;
   /* display: flex; */
   /* justify-content: space-around; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 20px;
  background-color: white;
  
}
.one {
  margin-top: 30px;
  width: 26%;
  height: 520px;
  border-radius: 20px;
  background-color: #F2F4F1;
  transition: 1s;
  box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}
.one:hover {
  box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  transform: translateY(10px);
}
.pic {
  height: 300px;
  width: 100%;
}

.name {
  height: 50px;
  width: 100%;
}
.profile {
  height: 310px;
  width: 100%;
  border-radius: 20px;
}
.local {
  height: 23px;
  display: flex;
}
.map {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 10px;

  
}
.Price{
  font-weight: bold;
}
.chennai {
  margin-top: 10px;
  color: rgb(87, 86, 86);
}
.one button {
  height: 30px;
  width: 80px;
  margin-left: 120px;
  margin-top: 17px;
  border-radius: 10px;
  color: #D70F64;
  border-color: #D70F64;
  background-color: white;
}
.one button:hover {
  color: white;
  border-color: #D70F64;
  background-color: #D70F64;
}