
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins&display=swap');




body{
    background-image: url("../images/1fdghjkl;\'.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;

}


.hole{
    height:700px;
    width:1100px;
    /* border: 2px solid black; */
    margin:  85px auto;
    /* background-color: white; */
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.top{
    height:130px;
    width:1100px;
   border-radius: 20px 20px 0px 0px;
   background-color: rgb(254, 172, 203);
}


/* #hidden{
  display:none;
} */
#button{
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.profile{
    height:130px;
    width:130px;
    /* border: 2px solid black; */
    position: absolute;
    border-radius: 50%;
    top:3%;
    left:10%;
}
#cam{
    position: absolute;
    top:82px;
    left:80px;
    font-size: 29px;
    color:white;
    background-color: black;
}
#prof-img{
    
        height:130px;
        width:130px;
        border-radius: 50%;
}
.h1class{
    margin-left:350px;
    padding-top: 95px;
}
.whole{
    
  
    height:  570px;
   width: 900px;
    display: flex;
 justify-content: space-evenly;
 margin-top:136px;

}
.right{
    height:470px;
    /* border: 2px solid black; */
    width:400px;

    margin-top: 136px;
}
#file{
  display: none;
}
.left{
    height:500px;
    /* border: 2px solid black; */
    width:200px;
    display: flex;
    flex-direction: column;
    margin-top:136px;
   

}
.type{
    height: 50px;
    width:390px;
    margin-top: 38px;
    background-color: white;
   border: 0px;
    text-align: center;
    /* background:transparent; */
    border:none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* #newname,#newemail{
  height: 54px;
  width:390px;
  margin-top: 38px;
} */

.type1{
    border: none;
    height: 40px;
    width:250px;
    /* margin-top: 50px; */
   margin-left: 70px;
    
}
#edit{
  position: absolute;
 top:315px;
 left:1100px
}
#edit1{
    position: absolute;
    top:405px;
    left:1100px;
  }
  #edit2{
    position: absolute;
    top:495px;
    left:1100px;
  }
  #edit3{
    position: absolute;
    top:585px;
    left:1100px;
  }
  #edit4{
    position: absolute;
    top:675px;
    left:1100px;
  }
  
  .holediv{
display: flex;
/* border: 2px solid black; */
display: flex;
height:50px;
 margin-top: 38px; 
  }
  .div-1{
    height: 50px;
   border-radius: 50%;
    width:55px;
background-color: white;    /* border: 2px solid black; */
  }
  .div-2{
    width:300px;
    /* border: 2px solid black; */
   height: 50px;
   
  
  }
 .fa-solid{
    font-size: 22px;
    margin-left: 17px;
    margin-top: 13px;
    color:#D70F64;
   
 }
 #change_pic{
  height:34px;
  width:34px;
  position: absolute;
  top:90px;
  left:105px;
  cursor: pointer;
  filter: drop-shadow(6px 8px 8px rgba(225, 44, 89, 0.3));
 }