
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins&display=swap');




body{
    background-image: url("../images/1fdghjkl;\'.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;

}
.menu-bar {
  height: 90px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  box-shadow: rgba(248, 85, 180, 0.2) 0px 7px 29px 0px;}
.main {
  margin-top: 20px;
  margin-right: 60px;
}
.dropdown {
  position: relative;
}
.menu-bar .main {
  display: flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}
.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-bar ul li a:hover {
  color: #d9235c;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.menu-bar ul li:hover .dropdown-content {
  display: block;
  position: absolute;
  width: 130px;
}
.menu-bar ul li:hover .dropdown-content ul li {
  height: 50px;
  width: 100px;
}
.dropdown-content a {
  color: #D70F64;
  padding: 4px;
  text-decoration: none;
  display: block;

}
.dropdown a:hover .dropdown-content {
  display: block;
}
.wat {
  color: #d9235c;
  font-weight: bolder;
  text-shadow: aliceblue;
  font-size: 40px;
}
span {
  color: white;
  font-size: 40px;
}
.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #D70F64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 90%;
}
/* nav bar ends */


.hole{
    height:800px;
    width:1100px;
    /* border: 2px solid black; */
    margin:  50px auto;
    /* background-color: white; */
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.top{
    height:130px;
    width:1100px;
   border-radius: 20px 20px 0px 0px;
   background-color: rgb(254, 172, 203);
}


/* #hidden{
  display:none;
} */
#button{
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.profile{
    height:130px;
    width:130px;
    /* border: 2px solid black; */
    position: absolute;
    border-radius: 50%;
    top:3%;
    left:10%;
}
#cam{
    position: absolute;
    top:82px;
    left:80px;
    font-size: 29px;
    color:white;
    background-color: black;
}
#prof-img{
    
        height:130px;
        width:130px;
        border-radius: 50%;
}
#file{
  display: none;
  
}
.h1class{
    margin-left:350px;
    padding-top: 95px;
}
.whole{
    
  
    height:  570px;
   width: 900px;
    display: flex;
 justify-content: space-evenly;


}
#btn{
  height: 45px;
  width:110px;
  border-radius: 10px;
  border: none;
  background-color: white;
  margin-top: 25px;
  margin-left: 150px;
}
.right{
    height:470px;
    /* border: 2px solid black; */
    width:400px;

    margin-top: 136px;
}

.left{
    height:600px;
    /* border: 2px solid black; */
    width:200px;
    display: flex;
    flex-direction: column;
    margin-top:136px;
   

}
.type{
    height: 47px;
    width:390px;
    margin-top: 38px;
    background-color: white;
   border: 0px;
    text-align: center;
    /* background:transparent; */
    border:none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* #newname,#newemail{
  height: 54px;
  width:390px;
  margin-top: 38px;
} */

.type1{
    border: none;
    height: 40px;
    width:250px;
    /* margin-top: 50px; */
   margin-left: 70px;
 font-size: 16px;
 font-weight:bold;
    
}
#edit{
  position: absolute;
 top:315px;
 left:1100px
}
#edit1{
    position: absolute;
    top:405px;
    left:1100px;
  }
  #edit2{
    position: absolute;
    top:495px;
    left:1100px;
  }
  #edit3{
    position: absolute;
    top:585px;
    left:1100px;
  }
  #edit4{
    position: absolute;
    top:675px;
    left:1100px;
  }
  
  .holediv{
display: flex;
/* border: 2px solid black; */
display: flex;
height:50px;
 margin-top: 38px; 
  }
  .div-1{
    height: 50px;
   border-radius: 50%;
    width:55px;
background-color: white;    /* border: 2px solid black; */
  }
  .div-2{
    width:300px;
    /* border: 2px solid black; */
   height: 50px;
   
  
  }
 .fa-solid{
    font-size: 22px;
    margin-left: 17px;
    margin-top: 13px;
    color:#D70F64;
   
 }
 #change_pic{
  height:34px;
  width:34px;
  position: absolute;
  top:90px;
  left:105px;
  cursor: pointer;
  filter: drop-shadow(6px 8px 8px rgba(225, 44, 89, 0.3));
 }