@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}
*{
  margin: 0px;
  padding: 0px;
}


.menu-bar {
  height: 90px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  top: 0px;
  background-color: white;
  position:fixed;
  z-index: 10;

}

.main {
  margin-top: 20px;
  margin-right: 60px;
}

.menu-bar .main {
  display: flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;

}
.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;

}
.menu-bar ul li a:hover {
  color: #d9235c;
}
.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #D70F64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 100%;
}
#review-cont {
  margin-top: 160px;
  background-color: black;
    height:auto;
    width: 100%;
  }

.top {
  margin-top: 14px;
}
.revi {
  width: 70%;
  height: 1000px;
  margin-left: 200px;

}
.revi h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}
.top-box-content {
  background-color: white;
  height: 300px;
  position: relative;
  top:20px;
  border-radius: 20px 20px 0px 0px;
}
.head h1 {
  text-align: center;
}
.head span {
  color: #d9235c;
}
#review-content {
  height: 1800px;
  width: 70%;
  margin-left: 200px;
}
.box {
  height: 100px;
  width: 400px;
  margin-left: 300px;
 
}
.sub-box {
  display: flex;
  height: 30px;
  width: 200px;
  justify-content: space-between;
  color: grey;
  margin-left: 80px;
  margin-top: 30px;
}
.sub-box li {
  margin-top: 10px;
}
.icon-star {
  margin-left: 100px;
  height: 40px;
  width: 170px;
  display: flex;
  margin-top: 30px;
}
.write {
  height: 600px;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  /* border: 2px solid black; */
  background-color: #d9235c;
  margin-top: 10px;
}
.box-2 {
  height: 70px;
  width: 600px;
  margin-left: 240px;
  background-color: white;
  border-radius: 5px;
  border: 2px rgb(88, 88, 88);
  display: flex;
  /* margin-top: 30px; */
  position: relative;
  top:30px;
  
}
#star {
  font-size: 20px;
  margin-left: 5px;
  margin-top: 5px;
  color: #d9235c;
}
.ic img {
  height: 40px;
  width: 130px;
  margin-top: 5px;
}
.box-2 img {
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-left: 10px;
}
.box-2 a {
  margin-left: 25px;
  margin-top: 30px;
  text-decoration: none;
}
.blank-box {
  margin-left: 235px;
  height: 400px;
  width: 600px;
  margin-top: 70px;
  border-radius: 10px;
}
#scroll{
  height: 300px;
  width: 600px;
  text-align: center;
}
#btn {
  height: 40px;
  width: 100px;
  margin-left: 250px;
  margin-top: 30px;
  border-radius: 20px;
  border-color: #D70F64;
  color: #D70F64;
}
#sub:hover {
  background-color: #D70F64;
  color: white;
  border-color: white;
}
.reviewed-box {
  height: 330px;
  width: 100%;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
}
.top-review-text {
  width: 50px;
  height: 45px;
  background-color:#D70F64;
  border-radius: 50%;
  text-align: center;
}
#menubar-user{
  font-size: 20px;
}
.content-inside {
  width: 170px;
  margin: 20px;
  height: 45px;
  display: flex;
  margin-left: 15px;
}
.name {
  width: 120px;
  height: 45px;
}
hr{
  margin-top: 40px;
}
.star-icon {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}
.star-icon p {
  margin-right: 20px;
  margin-top: 10px;
}
.star-icon img {
  height: 40px;
  width: 200px;
  margin-left: 20px;
}
.text {
  margin-top: 30px;
  margin-left: 15px;
}
.text p {
  margin-top: 25px;
}
.top-review-text h1 {
  margin-top: 5px;
}
.star-2 {
  width: 20%;

}
.fa-solid{
  font-size: 30px;
  margin-top: 5px;
}