@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.title {
  background-image: linear-gradient(rgba(11, 11, 11, 0.7), rgba(225, 81, 160, 0.7)), url("../images/1191102.jpg");
  height: 900px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.title-information {
  position: absolute;
  bottom: 180px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 50%;
  padding: 20px;
  height: 300px;
  text-align: center;
  left: 340px;
}
.title-information button {
  height: 40px;
  width: 140px;
  margin-top: 30px;
  border-radius: 5px;
  color: #D70F64;
  background-color: white;
  font-weight: bolder;
}
.title-information button:hover {
  color: white;
  background-color: #D70F64;
  font-weight: bolder;
}
.title-information h1 {
  margin-top: 40px;
  font-size: 40px;
}
.title-information p {
  margin-top: 40px;
  font-size: 20px;
}
.menu-bar {
  height: 100px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  box-shadow: 10px 10px 30px 1px rgb(205, 26, 98);
}
.main {
  margin-top: 20px;
  margin-right: 60px;
}
.dropdown {
  position: relative;
}
.menu-bar .main {
  display: flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}
.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-bar ul li a:hover {
  color: #d9235c;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.menu-bar ul li:hover .dropdown-content {
  display: block;
  position: absolute;
  width: 130px;
}
.menu-bar ul li:hover .dropdown-content ul li {
  height: 50px;
  width: 100px;
}
.dropdown-content a {
  color: #D70F64;
  padding: 4px;
  text-decoration: none;
  display: block;

}
.dropdown a:hover .dropdown-content {
  display: block;
}
.wat {
  color: #d9235c;
  font-weight: bolder;
  text-shadow: aliceblue;
  font-size: 40px;
}
span {
  color: white;
  font-size: 40px;
}
.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #D70F64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 90%;
}
/* nav bar ends */

/* feature starts */
#feature {
  height: 4300px;
  width: 100%;
}
.features-title {
  height: 650px;
  width: 100%;
  display: flex;
}
.feturebtn {
  height: 60px;
  width: 250px;
  line-height: 50px;
  margin-top: 50px;
  margin-right: 80px;
  border-radius: 40px;
  border-color: #D70F64;
  color: #D70F64;
  background-color: white;
}
.feturebtn a {
  text-decoration: none;
  color: #D70F64;
}
.feturebtn:hover {
  background-color: #D70F64;
  color: white;
}
.feturebtn a:hover {
  color: white;
}
.right-side-title {
  height: 100%;
  width: 50%;
  margin-left: 30px;
  text-align: center;
  text-transform: capitalize;
}
.right-side-title h1 {
  padding-top: 50px;
  color: #D70F64;
  font-size: 50px;
  margin-right: 70px;
  line-height: 50px;
}
.title-image {
  width: 40%;
  margin-left: 30px;
  height: 100%;
}
.contentpara {
  margin-top: 60px;
  height: 200px;
  width: 70%;
  margin-left: 80px;
  line-height: 26px;
}
.title-image img {
  height: 400px;
  width: 550px;
  margin-top: 80px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px 15px rgb(198, 197, 198);
  margin-left: 115px;

}
.spl-features {
  height: 760px;
  width: 100%;
  background-color: #F2F4F1;
}
.head-box {
  text-align: center;
  font-size: 40px;
  color: #D70F64;
  margin-top: 10px;
}
.para-box {
  color: black;
  font-size: 19px;
  text-align: center;
  margin-top: 50px;
}
.inner-content {
  height: 420px;
  width: 90%;
  margin-left: 70px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.icon-and-feature {
  width: 23%;
  height: 420px;
  border-radius: 10px;
}
.icon-and-feature h1 {
  margin-top: 40px;
  margin-left: 20px;
}
.icon-and-feature p {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 20px;
}
#icon {
  font-size: 50px;
  color: #d9235c;
  margin-top: 40px;
  margin-left: 20px;
}
.icon-and-feature:hover {
  width: 23%;
  height: 420px;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.appointment {
  height: 700px;
  width: 100%;
 
}
.appointment h1 {
  height: 30%;
  text-align: center;
  font-size: 50px;
  color: white;
}
.appointment p {
  height: 70%;
  width: 70%;
  color: white;
  font-size: 20px;
}

.background {
  height: 700px;
  width: 100%;
  background-image: linear-gradient(rgba(11, 11, 11, 0.7), rgba(46, 47, 52, 0.7)), url("../images/1190462 (1).jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: color-burn;
}
.appointment-para {
  margin-left: 100px;
}


.book {
  height: 500px;
  width: 100%;
  color: rgb(23, 22, 22);
  background-color: white;
  display: flex;
}


.book-para {
  width: 30%;
  transition: 1s;
  margin-left: 150px;
  margin-top: 70px;
}
.book-para:hover {
  transform: scale(0.9);
}
.book-para h1 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bolder;
}
.book-para p {
  font-size: 20px;
  margin-top: 30px;
}
.book img {
  margin-left: 150px;
  height: 390px;
  margin-top: 90px;
}
.REmainder {
  height: 500px;
  width: 100%;
  color: black;
}
.time-managing {
  width: 100%;
  height: 600px;
  display: flex;
  background-color: rgba(45, 59, 88, 255);
}
.time-managing img {
  height: 500px;
  width: 50%;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 50px;
}
.time-managing-para {
  width: 50%;
  height: 60%;
  margin-top: 100px;
  margin-left: 40px;
  box-shadow: 2px 40px 80px;
  transition: 1s;
}
.time-managing-para:hover {
  transform: scale(0.9);
}
.time-managing p {
  margin-top: 20px;
  text-transform: uppercase;
  color: whitesmoke;
}
.time-managing-para h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color:white;
  font-weight: bolder;
}
.payment {
  width: 100%;
  height: 600px;
  display: flex;
}

.Mobile-Responisive-content {
  width: 100%;
  height: 650px;
  display: flex;
}
.sch {
  height: 500px;
  width: 500px;
}
.payment-content-para {
  width: 40%;
  height: 60%;
  background-color: white;
  margin-top: 130px;

}
.payment img {
  height: 70%;
  width: 40%;
  margin-top: 140px;
  margin-left: 10%;
}
.payment-content-para h1 {
  margin-top: 90px;
  margin-left: 90px;
  font-size: 40px;
  color: black;
  text-shadow: 2px 0px 3px rgb(74, 128, 143);
}
.payment-content-para p {
  margin-top: 50px;
  margin-left: 90px;
  font-size: 25px;
  color: #D70F64;
}
.Mobile-Responisive-content img {
  height: 500px;
  width: 50%;
  margin-top: 60px;
  transition: 1s;
}
.Mobile-Responisive-content img:hover {
  transform: scaleX(0.9);
}
.Mobile-Responisive-para {
  height: 80%;
  width: 40%;
  margin-top: 70px;
  transition: 0.5s;
  border-radius: 30px;
  margin-left: 50px;
}
.Mobile-Responisive-para:hover {
  box-shadow: 10px 10px 10px 10px rgba(75, 75, 75, 255);
  transform: translateY(-20px);
}
.Mobile-Responisive-para h1 {
  font-size: 30px;
  margin-top: 60px;
  text-align: center;
  color: #d9235c;

}
.Mobile-Responisive-para p {
  margin-top: 30px;
  font-size: 20px;
}
.footer {
  height: 450px;
  width: 100%;
  background-color: black;
  display: flex;
  background-image: linear-gradient(rgba(6, 5, 5, 0.7), rgba(46, 47, 52, 0.7)), url("foot,jpg");
  background-size: cover;
  margin-top: 160px;
}
.footer-content:nth-child(1) {
  height: 400px;
  width: 25%;
  color: white
}
.footer-content:nth-child(2) {
  height: 400px;
  width: 22%;
  color: white;
}
.footer-content:nth-child(3) {
  height: 400px;
  width: 22%;
  color: white;
}
.footer-content:nth-child(4) {
  height: 400px;
  width: 22%;
  color: white;
}
.footer-box {
  width: 90%;
  height: 350px;
  margin-top: 50px;
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
}
.footer-icons {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 70px;
  height: 100px;
}
.footer-head {
  margin-top: 50px;
}
.footer-subhead {
  margin-top: 30px;
}
#insta-icon {
  font-size: 30px;

}
#facebook-icon {
  font-size: 30px;
}
#twiter-icon {
  font-size: 30px;
}
#github-icon {
  font-size: 30px;
}
.links {
  margin-top: 60px;
}
.links a {
  color: white;
  text-decoration: none;
}
.footer-content:nth-child(4) p {
  margin-top: 50px;
}
.footer-content:nth-child(4) img {
  height: 60px;
  width: 240px;
  border-radius: 9px;
  margin-top: 50px;
}
.footer-content:nth-child(3) p {
  margin-top: 40px;
  margin-left: 20px;
}
.footer-content:nth-child(3) a {
  text-decoration: none;
  color: white;
}