@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.title {
  background-image: linear-gradient(rgba(11, 11, 11, 0.7), rgba(250, 50, 163, 0.7)), url("../images/1191102.jpg");
  
  height: 900px;
  width: 100%;
  background-size: cover;
  background-position: center;
  
}
.title-information {
  position: absolute;
  bottom: 180px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);

  /* Black background with 0.5 opacity */
   left:340px;
  color:white;
  width: 50%;
  padding: 20px;
  height: 300px;
  text-align: center;

}
/* .leftimg{
  position: absolute;
  bottom: 120px;
  left: 900px;
}
.leftimg img{
  height: 500px;
  width: 500px;
 
} */
.title-information button {
  height: 40px;
  width: 140px;
  margin-top: 30px;
  border-radius: 5px;
  color: #D70F64;
  background-color: white;
  font-weight: bolder;
}
.title-information button:hover {
  color: white;
  background-color: #D70F64;
  font-weight: bolder;
}
.title-information h1 {
  margin-top: 40px;
  font-size: 40px;
}
.title-information p {
  margin-top: 40px;
  font-size: 20px;
}
.my-profile-img{
  height: 30px;
  width:30px;
  border-radius: 50%;
 
}
.menu-bar {
  height: 90px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  box-shadow: rgba(248, 85, 180, 0.2) 0px 7px 29px 0px;
z-index: 10;
}
  
.main {
  margin-top: 20px;
  margin-right: 60px;
}
.dropdown {
  position: relative;
}
.menu-bar .main {
  display: flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}
.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-bar ul li a:hover {
  color: #d9235c;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.menu-bar ul li:hover .dropdown-content {
  display: block;
  position: absolute;
  width: 130px;
}
.menu-bar ul li:hover .dropdown-content ul li {
  height: 50px;
  width: 100px;
}
.dropdown-content a {
  color: #D70F64;
  padding: 4px;
  text-decoration: none;
  display: block;

}
.dropdown a:hover .dropdown-content {
  display: block;
}
.wat {
  color: #d9235c;
  font-weight: bolder;
  text-shadow: aliceblue;
  font-size: 40px;
}
span {
  color: white;
  font-size: 40px;
}
.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #D70F64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 90%;
}
/* nav bar ends */

/* feature starts */
#feature {
  height: auto;
  width: 100%;
  /* border: 2px solid black; */
}
.features-title {
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.feturebtn {
  height: 60px;
  width: 250px;
  line-height: 50px;
  margin-top: 50px;
  margin-right: 80px;
  border-radius: 40px;
  border-color: #D70F64;
  color: #D70F64;
  background-color: white;
}
.feturebtn a {
  text-decoration: none;
  color: #D70F64;
}
.feturebtn:hover {
  background-color: #D70F64;
  color: white;
} */



.feturebtn a:hover {
  color: white;
} 

/* 
.learnmore-btn{
  width:200px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  color:#0c1113;
  display:flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(241, 55, 160);
  border-left: 1px solid rgb(198, 18, 81);
  padding-left: 40px;
  transition: 0.5s;
  margin-left: 100px;
}
.learnmore-btn:hover{
  padding-left: 0px;
  padding-right: 40px;
  color:white;
}
.learnmore-btn {
  position: absolute;
  left:5px;
  width:50px;
  height: 50px;
  width: 150px;
  border-radius: 50%;
  background-color: #D70F64;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.learnmore-btn:hover {
  left:calc(100%-55px);
} */


.right-side-title {
  height: 100%;
  width: 60%;
 
  text-align: center;
  text-transform: capitalize;
}
.right-side-title h1 {
  padding-top: 50px;
  color: #D70F64;
  font-size: 50px;
  margin-right: 70px;
  line-height: 50px;
}
.title-image {
  width: 40%;
  /* margin-left: 30px; */
  height: 100%;
}
.contentpara {
  margin-top: 60px;
  height: 200px;
  width: 70%;
  margin-left: 80px;
  line-height: 26px;
}
.title-image img {
  height: 400px;
  width: 550px;
  margin-top: 80px;
  border-radius: 30px;
  /* box-shadow: 0px 0px 15px 15px rgb(198, 197, 198); */
  
}
.spl-features {
  height: 760px;
  width: 100%;
  background-color: #F2F4F1;
}
.head-box {
  text-align: center;
  font-size: 40px;
  color: #D70F64;
  margin-top: 10px;
}
.para-box {
  color: black;
  font-size: 19px;
  text-align: center;
  margin-top: 50px;
}
.inner-content {


  
  height: 420px;
  width: 90%;
  margin-left: 70px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.icon-and-feature {
  width: 23%;
  height: 400px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.icon-and-feature h1 {
  margin-top: 40px;
  margin-left: 20px;
  font-size:31px;
}
.icon-and-feature p {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 18px;
}
#icon {
  font-size: 50px;
  color: #d9235c;
  margin-top: 40px;
  margin-left: 20px;
}
.icon-and-feature:hover {
  width: 23%;
  height: 410px;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.appointment {
  height: 700px;
  width: 100%;
 
}
.appointment h1 {
  height: 30%;
  text-align: center;
  font-size: 50px;
  color: white;
}
.appointment p {
  height: 70%;
  width: 70%;
  color: white;
  font-size: 20px;
}

.fa-heart{
  color: #0c0c0c;
  cursor: pointer;
}
.background {
  height: 700px;
  width: 100%;
  background-image: linear-gradient(rgba(11, 11, 11, 0.7), rgba(46, 47, 52, 0.7)), url("../images/1190462 (1).jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: color-burn;
}
.appointment-para {
  margin-left: 100px;
}


.book {
  height: 500px;
  width: 100%;
  color: rgb(23, 22, 22);
  background-color: white;
  display: flex;
}


.book-para {
  width: 30%;
  transition: 1s;
  margin-left: 150px;
  margin-top: 70px;
}
.book-para:hover {
  transform: scale(0.9);
}
.book-para h1 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bolder;
}
.book-para p {
  font-size: 20px;
  margin-top: 30px;
}
.book img {
  margin-left: 150px;
  height: 390px;
  margin-top: 90px;
}
.REmainder {
  height: 500px;
  width: 100%;
  color: black;
}
.time-managing {
  width: 100%;
  height: 500px;
  display: flex;
  /* background-color: rgba(45, 59, 88, 255); */
  background-color: white;
  justify-content: space-around;
}
.time-managing img {
  height: 500px;
  width: 40%;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 50px;
}
.time-managing-para {
  width: 50%;
  height: 60%;
  margin-top: 160px;
  /* margin-left: 50px; */
  /* box-shadow: 2px 40px 80px; */
  transition: 1s;

}
.time-managing-para:hover {
  transform: scale(0.9);
}
.time-managing p {
  margin-top: 20px;
  /* text-transform: uppercase; */
  color: rgb(12, 9, 9);
  margin-left: 80px;
  
}
.time-managing-para h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color:rgb(5, 4, 4);
  font-weight: bolder;
  margin-left: 80px;
}
.payment {
  width: 100%;
  height: 600px;
  display: flex;
}

.Mobile-Responisive-content {
  width: 90%;
  height: 550px;
  display: flex;
  margin-left: 5%;
}
.sch {
  height: 500px;
  width: 500px;
  margin-left: 50px;
}
.payment-content-para {
  width: 50%;
  height: 60%;
  background-color: white;
  margin-top: 130px;
  margin-left: 20px;

}
.payment img {
  height: 70%;
  width: 30%;
  margin-top: 140px;
  margin-left: 5%;
}
.payment-content-para h1 {
  margin-top: 90px;
  margin-left: 100px;
  font-size: 30px;
 
  color: #D70F64;
  margin-left: 120px;
}
.payment-content-para p {
  margin-top: 50px;
  margin-left: 90px;
  font-size: 18px;
  color: black;
  margin-left: 120px;
}
.Mobile-Responisive-content img {
  height: 500px;
  width: 40%;
  margin-top: 60px;
 margin-left: 100px;
}

.Mobile-Responisive-para {
  height: 80%;
  width: 40%;
  margin-top: 70px;
  transition: 0.5s;
  border-radius: 30px;
  margin-left: 50px;
}

.Mobile-Responisive-para h1 {
  font-size: 30px;
  margin-top: 60px;
  text-align: center;
  color: #d9235c;

}
.Mobile-Responisive-para p {
  margin-top: 30px;
  font-size: 18px;
}

.email-feture{
  height: 810px;
  width:80%;
  /* border: 2px solid black; */
  display: flex;
  margin: 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
border-radius: 40px;
}
.right-email-feature{

  width:50%;
  /* border: 2px solid black; */
}
.left-emial-ffeature{
  width: 50%;
}
.right-email-feature h1{
  color: #e0387e;
  font-size: 45px;
  margin-left: 30px;
}
.right-email-feature p{
  font-size: 18px;
  margin-top: 10px;
  color:#ffa7dd;
  text-shadow: #e12382;
  margin-left: 30px;
}
.round-background{
  height:300px;
  width:300px;
  background-color:#fceff6;
  border-radius: 50%;
  margin-left: 30%;
}
.round-background img{
   height: 250px;
   width: 250px;
 margin-left: 25px;
}
.bell{
  height: 60px;
  width:60px;
position: relative;
bottom:260px;
  border-radius: 50%;
  background-color: #56cbfc;
  left:140px
}
.fa-bell{
  color:white;
  margin: 20%;
  font-size:36px;
  transform: rotate(-50deg);
}

.fa-xmark{
  color:#bec7e7;
  font-size: 25px;
  position: relative;
  bottom:270px;
  left:120px
}

.fa-regular{
  color:#79d6fd;
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  bottom:160px;
  left:80px
}
.fa-check{
  color:#ffe388;
  font-size: 30px;
  transform: rotate(-50deg);
  position: relative;
  bottom:180px;
  left:130px
}
#circle{
  color:#D70F64;
  font-size: 14px;
  position: relative;
  bottom:180px;
  left:350px
}
.fa-paper-plane{
  color:#f462ab;
  font-size: 60px;
  position: relative;
  bottom:210px;
  left:380px
}
#top-mark{
  color:#ffe388;
  position: relative;
  bottom:100px;
  left:120px
}
#bot-mark{
  color:#56cbfc;
  position: relative;
  bottom:280px;
  left:280px
}
#top-circle{
  color: #ffa7dd;
  position: relative;
  bottom:400px;
  left:190px;
  font-size: 20px;

}

#c-icon{
  font-size: 50px;
  color:#ffa7dd;
  position: relative;
  bottom: 120px;
 right: 90px;
 transform: rotate(-50deg);
}
#bot-circle{
  color:#e95090;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  bottom:130px;
  left:100px
}
.fa-comment-dots{
  color: #D70F64;
  font-size: 50px;
  transform: rotate(-20deg);
  position: relative;
  bottom: 200px;
  left:60px
}
label{
  color:#ffa7dd;
  margin-left: 30px;
}
input{
  margin-top: 5px;
  height: 50px;
  width:380px;
  border-radius: 30px;
  text-align: center;
  border: none;
  background-color:#fceff6;
  margin-left: 30px;
}
textarea{
  height: 140px;
  width:380px;
  border-radius: 30px;
  background-color:#fceff6 ;
  border: none;
  margin-left: 30px;
  text-align:center;
  
}

#btn{
  height: 50px;
  width:280px;
  border-radius: 30px;
  background-color: #f03d87;
  border: none;
  color: WHITE;
  box-shadow: 0 6px 17px -5px #f44195;
  margin-left: 30px;
  text-shadow: 1px 1px 1px 1px #F2F4F1;
}
.locations{
 
  height: 180px;
  width:450px;
  margin-left: 90px;
  display: flex;
  flex-direction: row;
}
.left-icons{
  display: flex;
  flex-direction: column;
  height: 180px;
 
  width: 30px;
  justify-content: space-around;
  margin-left: 20px;
}
.left-icons i{
  color:#ffa7dd;

  font-size: 25px;
}
.detail-locatio-no{
  display: flex;
  flex-direction: column;
  height: 180px;
 font-size: 18px;
  color:#ffa7dd;
  justify-content: space-around;
  margin-left: 20px;
}
.social-media{
  width:200px;
  height: 50px;

  margin-left: 110px;
  margin-top: 60px;
  display: flex;justify-content: space-around;
} 
.social-media  i{
  color:#D70F64;
  font-size: 40px;

}
.footer {
  height: 450px;
  width: 100%;

  display: flex;
  background-image: linear-gradient(rgba(11, 11, 11, 7), rgba(12, 12, 12, 0.7)),url("foot,jpg");
  background-size: cover;

}
.footer-content:nth-child(1) {
  height: 400px;
  width: 25%;
  color: white
}
.footer-content:nth-child(2) {
  height: 400px;
  width: 22%;
  color: white;
}
.footer-content:nth-child(3) {
  height: 400px;
  width: 22%;
  color: white;
}
.footer-content:nth-child(4) {
  height: 400px;
  width: 22%;
  color: white;
}
.footer-box {
  width: 90%;
  height: 350px;
  margin-top: 50px;
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
}
.footer-icons {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 70px;
  height: 100px;
}
.footer-head {
  margin-top: 50px;
}
.footer-subhead {
  margin-top: 30px;
}
#insta-icon {
  font-size: 30px;

}
#facebook-icon {
  font-size: 30px;
}
#twiter-icon {
  font-size: 30px;
}
#github-icon {
  font-size: 30px;
}
.links {
  margin-top: 60px;
}
.links a {
  color: white;
  text-decoration: none;
}
.footer-content:nth-child(4) p {
  margin-top: 50px;
}
.footer-content:nth-child(4) img {
  height: 60px;
  width: 240px;
  border-radius: 9px;
  margin-top: 50px;
}
.footer-content:nth-child(3) p {
  margin-top: 40px;
  margin-left: 20px;
}
.footer-content:nth-child(3) a {
  text-decoration: none;
  color: white;
}
