@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}


.menu-bar {
    height: 90px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    box-shadow: rgba(248, 85, 180, 0.2) 0px 7px 29px 0px;
  z-index: 10;
  }
    
  .main {
    margin-top: 20px;
    margin-right: 60px;
  }
  .dropdown {
    position: relative;
  }
  .menu-bar .main {
    display: flex;
    list-style: none;
  }
  .menu-bar ul li {
    padding: 10px 30px;
    list-style: none;
  }
  .menu-bar ul li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
  }
  .menu-bar ul li a:hover {
    color: #d9235c;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .menu-bar ul li:hover .dropdown-content {
    display: block;
    position: absolute;
    width: 130px;
  }
  .menu-bar ul li:hover .dropdown-content ul li {
    height: 50px;
    width: 100px;
  }
  .dropdown-content a {
    color: #D70F64;
    padding: 4px;
    text-decoration: none;
    display: block;
  
  }
  .dropdown a:hover .dropdown-content {
    display: block;
  }
  .wat {
    color: #d9235c;
    font-weight: bolder;
    text-shadow: aliceblue;
    font-size: 40px;
  }
  span {
    color: white;
    font-size: 40px;
  }
  .menu-bar ul li::after {
    content: '';
    display: block;
    background-color: #D70F64;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.5s;
  }
  .menu-bar ul li:hover::after {
    width: 90%;
  }
.package{
  height:auto;
  width:100%;
   position: relative;
  top: 90px;
  /* border:2px solid black; */

}
.diamond-shape {
  background:#D70F64;
  height: 80px;
  text-align: center;
  transform:rotate(45deg);
	width:80px;
 position: relative;
 top:100px
}


.diamond-shape2 {
  background:#D70F64;
  height: 50px;
  text-align: center;
  transform:rotate(60deg);
	width:50px;
  position: relative;
 top:290px;
 left: 350px;

}

.diamond-shape3 {
  background:#D70F64;
  height: 80px;
  text-align: center;
  transform:rotate(70deg);
	width:80px;
 left:1300px;
  position: relative;
  top:100px;
 overflow: hidden;
}


.item-count,.item-count2,.item-count3 {
  color: #333;
  display: table-cell;
  height: 60px;
  transform: rotate(-45deg);
  vertical-align: middle;
	width:60px;
}

.cont{
  height:300px;
  width:560px;
  /* border: 2px solid black; */
 position: relative;
 bottom:200px;
left:450px;
 -webkit-box-shadow: 0 5px 29px 3px rgba(0,0,0,0.08);
     box-shadow: 0 5px 29px 3px rgba(0,0,0,0.08);
     padding: 48px 48px 16px 48px;;
overflow: hidden;
z-index: 9;
 }
 .img{
 bottom: -95px;
 left: 250px;
  position: relative;
 }
 .cont p{
  padding-top: 40px;
 }
 .add_pack{
  height: 40px;
  width:150px;
position: relative;
border: 1px solid #D70F64;
color:#D70F64;


background-color: white;
bottom:100px;
cursor: pointer;
 }
 .add_pack:hover{

  background-color: #D70F64;
  color:white
 }
.upload{
  height:600px;
  width:100%;
  /* border:2px solid black; */
  display:flex;

}
.upload_side{

height: 90%;
width:50%;
/* border:2px solid black; */
}
.image_upload{

  height: 100%;
  width:50%;
  /* border:2px solid black; */
  
}

.load{
  height: 100%;
  width:70%;
 
  margin-left: 30px;
}
.blob{
height:160px; width:200px;
position:relative;
top:410px;
left:30%
}
.blob1{
  height:200px; 
  width:200px;
  position:relative;
  top:10px;
  left:70%
  }
  .blob2{
    height:60px; 
    width:200px;
    position:relative;
    top:30px;
    left:40px;
    
    }
    .blob3{
      height:200px; 
      width:200px;
      position:relative;
      top:30px;
      left:200px;
      opacity: 0.8;
      }

li{
  font-size: 16px;
  margin-left: 40px;
}
h2{
  margin-top: 70px;
  margin-left: 40px;
  color:#D70F64;
  margin-bottom: 40px;
}
.upload_btn{
  height: 40px;
  width:130px;
  background-color: white;
  color:#d9235c;
  border: 1px solid #d9235c;
 position: relative;
 right:360px;
 bottom: 100px;
 cursor: pointer;
}
.upload_btn:hover{

  background-color: #D70F64;
  color:white
 }
.profile{
  height:800px;
  width:100%;
  /* border:2px solid black; */
  display: flex;
  justify-content: space-around;

}
.quote{
z-index: 3;
border-radius: 15px;
  height:200px;
  margin-top: 250px;
  width:340px;
  /* padding-top: 50px; */
  padding:40px 40px 40px 40px
  /* border: 2px solid black; */
}
.quote_1{
background-color: rgb(212, 212, 254);
}
.quote_2{
background-color: rgb(248, 254, 222);
}
.quote_3{
background-color: rgb(253, 203, 213);

}