@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: white
}

.menu-bar {
  height: 90px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  /* box-shadow: rgba(248, 85, 180, 0.2) 0px 7px 29px 0px; */
  z-index: 10;
}

.main {
  margin-top: 20px;
  margin-right: 60px;
}

.menu-bar .main {
  display: flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 30px;
  list-style: none;
}
.menu-bar ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-bar ul li a:hover {
  color: #d9235c;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.menu-bar ul li:hover .dropdown-content {
  display: block;
  position: absolute;
  width: 130px;
}
.menu-bar ul li:hover .dropdown-content ul li {
  height: 50px;
  width: 100px;
}
.menu-bar ul li::after {
  content: "";
  display: block;
  background-color: #d70f64;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}
.menu-bar ul li:hover::after {
  width: 90%;
}

.content{
  height:1500px;
  width:100%;
  position: absolute;
  top:90px;
  /* border:2px solid black; */
}

.adding_list{
  height:600px;
  width:100%;
  /* border:2px solid black; */
  display: flex;
}
.para{
  margin-top: 130px;
  height:300px;
  margin-left: 100px;
  width:500px;
  /* border:2px solid black; */
}
.para p{
  width:500px;
  margin-top: 50px;
}
.para h1{
  color: #d70f64;
}
.img{
  height: 500px;
  width:600px;
  /* border:2px solid black; */
  margin-top: 60px;
  margin-left: 100px;

}
.images_title{
  height: 500px;
  width:700px
}
.steps{
  height: 600px;
  width:100%;
  /* border:2px solid black; */

}
.form{
  height:350px;
  width:500px;
  /* border:2px solid black; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  top:200px;
  display: none;
  left:430px;
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
  
}

input{
  border-width: 0px 0px 1.2px 0px;
  background-color: blur(15px);;
}
.saree{
  margin-left: 30px;
}

.Mehandi{
  margin-left: 40px;
}
.submit_btn{
  height:35px;
  width:130px;
  border-radius: 10px;
  border: none;
  margin-left: 200px;
  margin-top: 50px;
}
.category_name{
  margin-top: 20px;
  width:280px;
  height: 30px;
}
.category{

  margin-bottom: 15px;
}
.name{
  margin-right: 25px;
}
.cost{
  margin-right: 130px;
}
.image{
  margin-right: 55px;
}
.add_btn{
  height:40px;
  width:200px;
  margin-top: 50px;
  border-radius: 30px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color:white;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: #e6397e;
  box-shadow: 0px 15px 20px rgba(218, 66, 107, 0.4);
  outline: none;
  margin-left: 10px;
  margin-top: 60px;
  }

  .container{
    z-index: 1;
  }
.add_btn:hover {

  color: #fff;
  transform: translateY(-7px);

}
.blur {
  filter: blur(15px);
  z-index: 3;
}